<!DOCTYPE html>
{% load leaflet_tags %}
{% load geojson_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Quality Map</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
<style> .leaflet-container { height: 100%;
                             width:100%; }
</style>

<div style="height:800px"> {% leaflet_map "main" callback="ourfunction" %} </div>

<script type="text/javascript">

    var POOR_AQ_THRESHOLD = 40;
    var GOOD_AQ_THRESHOLD = 15;

    function checkShouldBeRed(monitor) {
        if (monitor.properties.latest_reading >= POOR_AQ_THRESHOLD) {
            return true;
        } else {
            return false;
        }
    }

    function checkShouldBeGreen(monitor) {
        if (monitor.properties.latest_reading <= GOOD_AQ_THRESHOLD) {
            return true;
        } else {
            return false;
        }
    }

    function checkShouldBeYellow(monitor) {
        if (monitor.properties.latest_reading > GOOD_AQ_THRESHOLD
            && monitor.properties.latest_reading < POOR_AQ_THRESHOLD) {
            return true;
        } else {
            return false;
        }
    }

    function ourfunction(map, options) {
        var dataurl = '{% url "airmap:data" %}';
        $.getJSON(dataurl, function(data){
            // Get the data for red, yellow and green monitors
            red_monitors = data.features.filter(checkShouldBeRed);
            yellow_monitors = data.features.filter(checkShouldBeYellow);
            green_monitors = data.features.filter(checkShouldBeGreen);

            // Define the marker options for red, yellow and green monitors
            var geojsonMarkerOptionsGreen = {
                radius: 8,
                fillColor: "#00FF00",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };
            var geojsonMarkerOptionsYellow = {
                radius: 8,
                fillColor: "#FFFF00",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };
            var geojsonMarkerOptionsRed = {
                radius: 8,
                fillColor: "#FF0000",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };

            // Draw the monitors on the map
            L.geoJson(red_monitors, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, geojsonMarkerOptionsRed);
                }
            }).addTo(map);
            L.geoJson(yellow_monitors, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, geojsonMarkerOptionsYellow);
                }
            }).addTo(map);
            L.geoJson(green_monitors, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, geojsonMarkerOptionsGreen);
                }
            }).addTo(map);
        });
    }
</script>

<script type="text/javascript">
      var collection = {{ qs_results|geojsonfeature|safe }};
      function map_init(map, options) {
          L.geoJson(collection).addTo(map);
      }
</script>

</body>
</html>
